{% extends 'base.html.twig' %}

{% block title %}Edition message
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_USER') %}

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-danger">Envoyer</button>
			{{ form_end(form) }}

	{% endif %}
{% endblock %}
