{% extends 'base.html.twig' %}

{% block title %}Nouveau message
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_USER') %}

		<div class="card mt-3 w-auto">
			<div class="card-body">
				<p>(*) champ obligatoire</p>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>

	{% endif %}
{% endblock %}
