{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error doloribus ab distinctio non sequi quia iste dolore officiis quae aperiam dolorum porro, velit molestias alias hic et cumque ut.</p>


	<!--<div class="row row-cols-1 row-cols-md-2">-->

	<div class="card-group mb-5">
		<!--<div class="col">-->
			<div class="card h-100">
				<div class="card-body">

					<h4>Dernières parties publiés</h4>
					{% for game in games %}
						<ul>
							<li>{{ game.name }}</li>
							<li>{{ game.description}}</li>
							<li>
								<a href="#">Afficher plus</a>
							</li>
							<li>nombre de joueurs max .
								{{ game.maxPlayer}}</li>
						</ul>

					{% endfor %}
				</div>

			</div>

		<div class="card h-100">
			<div class="card-body">

				<h4>Nouveaux joueurs disponibles</h4>
				<ul>
					<li>Nom du joueur</li>
					<li><img src="#"></li>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ea.</li>
					<li>
						<a href="#">Afficher plus</a>
					</li>

					<li>Nom du joueur</li>
					<li><img src="#"></li>
					<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, quisquam.</li>
					<li>
						<a href="#">Afficher plus</a>
					</li>
				</ul>
			</div>
		</div>
	</div>



<!--
					<div class="card col">
						<div class="card-body">
				
				
							<form class="d-flex">
								<input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
								<button class="btn btn-outline-success" type="submit">Recherche</button>
							</form>
				
							<h5>Categories</h5>
				
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
									Choisissez une catégorie
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
									<li>
										<button class="dropdown-item" type="button">Action</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">Aventure</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">Horreur</button>
									</li>
								</ul>
							</div>
				
							<h5>Tags Tendances</h5>
				
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									Zombies
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									Chevaliers
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									Dragons
								</label>
							</div>
						</div>
					</div>
				-->
{% endblock %}
