{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error doloribus ab distinctio non sequi quia iste dolore officiis quae aperiam dolorum porro, velit molestias alias hic et cumque ut.</p>


	<!--<div class="row row-cols-1 row-cols-md-2">-->

	<div class="card-group mb-5">
		<!--<div class="col">-->
			<div class="card h-100">
				<div class="card-body">

					<h4>Dernières parties publiés</h4>
					{% for game in games %}
						<ul>
							<li>{{ game.name }}</li>
							<li>{{ game.description}}</li>
							<li>
								<a href="#">Afficher plus</a>
							</li>
							<li>nombre de joueurs max .
								{{ game.maxPlayer}}</li>
								TEMPORAIRE
								<a href="{{path('game_message_new', {'id': game.id}) }}">Envoyer un message</a>
						</ul>

					{% endfor %}
				</div>

			</div>

		<div class="card h-100">
			<div class="card-body">

				<h4>Nouveaux joueurs disponibles</h4>
				<ul>
					<li>Nom du joueur</li>
					<li><img src="#"></li>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ea.</li>
					<li>
						<a href="#">Afficher plus</a>
					</li>

					<li>Nom du joueur</li>
					<li><img src="#"></li>
					<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, quisquam.</li>
					<li>
						<a href="#">Afficher plus</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
