{% extends 'base.html.twig' %}

{% block title %}Hello GameController!
{% endblock %}

{% block body %}

{% for game in games%}
	<div class="card mb-3" style="max-width: 100%;">
		<div class="row g-0">
			<div class="col-md-2">
				<img src="{{ asset('images/upload/' ~ game.image) }}" width="50px" height="50px" alt="Illustration de {{game.name}}">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{ game.name }}</h5>
					<p class="card-text d-inline-block text-truncate" style="max-width: 100%;">{{ game.description }}</p>
				</p>
			</div>
		</div>
	</div>
</div>{% endfor %}{% endblock %}
