<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseSearchBar" aria-expanded="false" aria-controls="collapseSearchBar">
    Recherche <img src="{{asset("images/icons/arrow-down-square.svg")}}" width="25" height="25">
</button>
<div class="collapse" id="collapseSearchBar">
    <div class="card card-body">
        {# <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Recherche</button>
        </form>
        <ul class="list-unstyled components">
            <h5>Categories</h5>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégorie
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Aventure</a>
                    <a class="dropdown-item" href="#">Horreur</a>
                </div>
            </div>
            <h5>Tags Tendances</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Zombies
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Chevaliers
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Dragons
                </label>
            </div>
        </ul> #}
        {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
    </div>
</div>
