{% extends 'base.html.twig' %}

{% block body %}
<h2>recherche Utilisateurs</h2>
{% for user in users %}

	<div class="card mb-3" style="max-width: 100%;">
		<div class="row g-0">
			<a href="{{path('user_read',{'id': user.id}) }}">

				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{ user.username }}</h5>
					</p>
					<div class="d-grid gap-2 col-6 mx-auto"></div>
				</div>
			</a>
		</div>
	</div>
</div>{% endfor %}{% endblock %}
