{% extends 'base.html.twig' %}

{% block body %}

	{# edit user forms #}
		<h1>Modification du profil</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-danger">Valider</button>
		<a href="{{path('user_edit-password')}}">
			<button type="button" class="btn btn-danger">Modifier le mot de passe</button>
		</a>
		{{ form_end(form) }}

{% endblock %}
