{% extends 'base.html.twig' %}

{% block body %}
	<h2>{{user.username}}</h2>

	<div>
		<img src="{{ asset(images_directory ~ '/' ~ user.avatar)}}" class="img-thumbnail" width="200" height="200" alt="{{app.user.username}}">
	</div>

	<div>
		<p>{{user.description}}
			{# <a href="#">afficher plus</a>#}
		</p>
	</div>

{% endblock %}
