{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger">S'inscrire</button>
{{ form_end(form) }}

{% endblock %}
