{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

<div class="col-md-6 position-relative top-0 start-50 translate-middle-x ">
<h2>Inscrivez-vous</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger">S'inscrire</button>
{{ form_end(form) }}
</div>
{% endblock %}
